.title {
  color: #002d71;
  text-align: center;
  margin-top: 2rem;
  width: 100%;
}
.container {
  margin-top: 4rem;
}
.info {
  text-align: center;
  margin: 3rem 0;
}
.info span {
  color: black;
  font-size: 2.5rem;
  border: 5px solid rgb(5, 4, 4);
  background-color: rgb(128, 126, 126);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

.count {
  font-size: 3rem;
  color: #c65f0b;
  font-weight: 700;
}

.lose {
  color: #002d71;
}
.draw {
  color: rgb(5, 4, 4);
}

.pkArea {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 560px) {
  .container {
    margin-top: 2rem;
  }
  .pkArea {
    display: block;
  }
  .info span {
    font-size: 2rem;
    border: 5px solid rgb(5, 4, 4);
    background-color: rgb(128, 126, 126);
    padding: 0.5rem 1rem;
  }
}
